openapi: 3.1.0
info:
  title: Blu Ingestion API
  version: 0.1.0
  description: |
    Public API for sending behavioral events from Blu SDKs into Blu.

    The ingestion API is responsible for accepting, validating, and persisting
    raw behavioral events. It does not calculate metrics, evaluate segments,
    or execute actions.

servers:
  - url: https://api.blu.so
    description: Production
  - url: http://api.blu.test:3000
    description: Local development

tags:
  - name: Ingestion
    description: Behavioral event ingestion

paths:
  /ingest:
    post:
      tags:
        - Ingestion
      operationId: ingestEvents
      summary: Ingest behavioral events
      description: |
        Accepts a batch of normalized Blu events for the tenant associated
        with the supplied ingestion API key.

        The tenant is derived from the API key. `tenantId`, plan, billing
        status, and other Blu-owned fields must not be supplied by the client.
      security:
        - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestRequest"
            examples:
              purchase:
                summary: Example event batch
                value:
                  events:
                    - eventId: "550e8400-e29b-41d4-a716-446655440000"
                      event: "purchase_completed"
                      userId: "user_123"
                      anonymousId: "anonymous_456"
                      groupId: "group_789"
                      timestamp: "2026-09-26T08:00:00.000Z"
                      properties:
                        productId: "prod_123"
                        amount: 49
                        currency: "USD"
                      context:
                        page: "/checkout"
    responses:
      "200":
        description: Events were accepted and persisted.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestResponse"
            examples:
              success:
                value:
                  accepted: 1
      "400":
        description: The request or one of its events is invalid.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ErrorResponse"
      "401":
        description: The ingestion API key is missing or invalid.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ErrorResponse"
      "403":
        description: The tenant is not currently allowed to ingest data.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ErrorResponse"
      "413":
        description: The request body exceeds the ingestion payload limit.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ErrorResponse"
      "429":
        description: The tenant exceeded an ingestion rate or usage limit.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ErrorResponse"
      "500":
        description: An unexpected server error occurred while processing the request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Tenant-scoped ingestion API key.

  schemas:
    BluEvent:
      type: object
      additionalProperties: false
      required:
        - eventId
        - event
        - timestamp
      properties:
        eventId:
          type: string
          format: uuid
          description: Stable unique identifier for this event. The SDK must reuse it when retrying the same event.
        event:
          type: string
          minLength: 1
          maxLength: 128
          description: Name of the behavioral event.
          examples:
            - purchase_completed
        userId:
          type: string
          minLength: 1
          maxLength: 256
          description: Known customer user identifier.
        anonymousId:
          type: string
          minLength: 1
          description: Anonymous visitor identifier generated by the SDK.
        groupId:
          type: string
          minLength: 1
          description: Customer-defined organization, team, workspace, or store identifier.
        timestamp:
          type: string
          format: date-time
          # Bounds are enforced by the server. Document them here as prose:
          description: |
            ISO 8601 timestamp. Must be within 30 days in the past
            and at most 5 minutes in the future (clock skew tolerance).
        properties:
          type: object
          description: Event-specific properties supplied by the customer application.
          additionalProperties: true
        context:
          type: object
          description: Platform or environment context supplied by the SDK.
          additionalProperties: true

    IngestRequest:
      type: object
      additionalProperties: false
      required:
        - events
      properties:
        events:
          type: array
          minItems: 1
          maxItems: 100
          description: Batch of normalized Blu events. The entire batch is accepted or rejected as a unit in v1.
          items:
            $ref: "#/components/schemas/BluEvent"

    IngestResponse:
      type: object
      additionalProperties: false
      required:
        - accepted
      properties:
        accepted:
          type: integer
          minimum: 0
          description: Number of events accepted and persisted from this request.

    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - error
      properties:
        error:
          type: object
          additionalProperties: false
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Stable machine-readable error code.
              examples:
                - INVALID_REQUEST
            message:
              type: string
              description: Human-readable description of the error.
